/* Container for all flexboxes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 60, 76);
}

 
/* Header name with background */
h1 {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: rgb(35, 40, 38);
    background-color: aquamarine;
    padding: 3px 0px 0px 30px;
    font-size: 40px;
}

h2 { 
    color: aqua;
}

/* Flex setup for header links*/
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    padding-right: 20px;
  }


/* Header links */  
nav a {
    font-size: 125%;
    font-weight: regular;
    text-decoration: underline;
    color: aquamarine;
    padding-left: 20px;
}

/* Affects Hover on header links */
nav a:hover {
    background-color: rgb(48, 27, 101);
  }


.header-image{
    background-image: url(./images/electricity-technology-colorful-background-header.jpg);
    flex-flow: wrap;
    align-items: flex-end;
    padding-right: 20px;
    border: 5px solid rgb(75, 138, 156); 
}

.header-tag{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
}

.app-1 {
    padding: 1rem;
}

.app-2, .app-3, .app-4, .app-5, .app-6 {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    width: 300px;
    height: 320px;
    border: 5px solid rgb(75, 138, 156);
    flex: 0 1 auto;
}

.app-2 {
    background-image: url(./images/DaJa-LiMaVi_inaction_screenshot.png);
    height: 360px;
    width: 640px;
}

.app-3 {
    background-image: url(./images/pexels-dzenina-lukac-754262\ \(1\).jpg);
    height: 360px;
    width: 640px;
}

.app-4{
    background-image: url(./images/pexels-polina-tankilevitch-6927334\ \(1\).jpg);
    height: 360px;
    width: 640px;
}

.app-5{
    background-image: url(./images/pexels-magda-ehlers-1586950.jpg);
    height: 360px;
    width: 640px;
}

.app-6{
    background-image: url(./images/pexels-andrea-piacquadio-3756042.jpg);
    height: 360px;
    width: 640px;
}

.target {
    background-color: aquamarine;
    width: 60%;
    height: 20%;
}

.card-3 {
    padding: 1rem;
    text-decoration: underline;
    color: aquamarine;
}

  

  